@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
:root {
    --black: #444444;
    --black-dark: #333333;
    --main1: #8C9ED9;
    --main2: #566A8E;
}
* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Pretendard;
}
